<section id="clients" class="container">
  <div class="inner team">
    <h1 class="header light gray3 fancy"><span class="colored">My </span> Workout</h1>
  </div>
</section>

<div class="row">
  <% @workouts.each do |workout| %>
    <div class="col-md-4">
      <h3>Workout: <%= workout.name %></h3>
      <ul>
        <li><a href="/exercises" class="btn btn-info" role="button">Select exercises</a></li>
        <br>
        <li><a href="/workouts/<%= workout.id %>" class="btn btn-info" role="button">Workout Exercises</a></li>
      </ul>
    </div>
  <% end %>
</div>