<section id="clients" class="container">
  <div class="inner team">
    <h1 class="header light gray3 fancy"><span class="colored">My </span> Exercises</h1>
  </div>
</section>

<div class="row">
  <% @workout.exercises.each do |exercise| %>
    <div class="col-md-4">
      <h3>Name: <%= exercise.name %></h3>
      <% exercise.images.each do |image| %>
        <%= image_tag image.image_url, width: 250, height: 250  %>
      <% end %>
    </div>
  <% end %>
</div>

