  <!-- Fun Acts -->
  <section id="fun-acts" class="container">

    <div class="inner fun-acts">
        <div class="about-margin"></div>
        <a class="about-icon">
      <i class="fa fa-life-ring"></i>
    </a>
        <br />        

      <!-- Header -->
      <h1 class="header light gray1 animated" data-animation="fadeInLeft" data-animation-delay="400">
       Winners Train,<span class="colored" data-animation="fadeInRight">Losers Complain</span></h1>
      <!-- Description -->
      <p class="h-desc"><span class="colored">lorem Ipsum is lorem Ipsum</span> lorem Ipsum is simply dummy text of the printing and typesetting industry loremipsum. lorem Ipsum is simply dummy text of the printing and typesetting industry loremipsum is simple.</p>

    </div><!-- End Fun Acts Inner -->

  </section><!-- End Fun Acts Section -->

