<!-- Fun Acts -->
<section id="fun-acts" class="container">
  <div class="inner fun-acts">

  <h2 class="condensed uppercase bold gray1">Get Active</h2>
    <h2 class="condensed uppercase bold colored">Build a dream body!</h2>

      <div class="about-margin"></div>
      <a class="about-icon">
        <i class="fa fa-life-ring"></i>
      </a>
      <br />        

    <!-- Header -->
    <h1 class="header light gray1 animated" data-animation="fadeInLeft" data-animation-delay="400">
     Winners Train,<span class="colored" data-animation="fadeInRight">Losers Complain</span></h1>

  </div><!-- End Fun Acts Inner -->

</section><!-- End Fun Acts Section -->

