// Place all the styles related to the Exercises controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

textarea#instruction {
  height: 100px;
  width: 800px;
}

.flash-message {
  position: fixed;
  top: 100px;
  z-index: 1000;
}

