<%= form_for @image, url: "/exercises/" + params[:exercise_id] + "/images/" + params[:id] do |f| %>
  <div>
    <%= f.label :image %>
  </div>
  <br>
  <div>
    <%= f.file_field :image_url %>
  </div>
  <br>
  <div>
    <%= f.submit %>
  </div>
<% end %>