<!DOCTYPE html>
<html>
<head>
  <title>FitnessApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<!-- Navigation -->
	<section id="navigation" class="dark-nav">
		<!-- Navigation Inner -->
		<div class="nav-inner">
			<!-- Site Logo -->
			<div class="site-logo fancy">
				<a href="#" id="logo-text" class="scroll logo">Get Fit!
				</a>
			</div><!-- End Site Logo -->
			<a class="mini-nav-button gray2"><i class="fa fa-bars"></i></a>
			<!-- Navigation Menu -->
		    <div class="nav-menu">
				<ul class="nav uppercase">
					<li><a href="/home" class="scroll">Home</a></li>
					<li><a href="/exercises" class="scroll">Exercises</a></li>       
					<li><a href="/about" class="scroll">About us</a></li>
					<li><a href="/feature" class="scroll">Features</a></li>
					<li><a href="/users/sign_in" class="scroll">Sign In</a></li>
					<li><a href="/users/sign_up" class="scroll">Sign Up</a></li>
					<li><a href="/workout" class="scroll">Workout</a></li>
					<li><a href="/test" class="scroll">Testimonial</a></li>
					<li><a href="/footer" class="scroll">Footer</a></li>
				</ul>
		  </div><!-- End Navigation Menu -->
		</div><!-- End Navigation Inner -->
	</section><!-- End Navigation Section -->
 


<%= yield %>



<script>
  $("a.about-icon").hover(function () {
    $(this).children("i").addClass("fa-spin");
 }, function(){
 	$(this).children("i").removeClass("fa-spin");
 });
</script>



</body>

</html>